@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<h1>Проверка кода восстановления</h1>
<hr />
<p>
    Вы запросили вход в систему с кодом восстановления. 
    Этот логин не запомнится до тех пор, пока вы не предоставите код приложения для аутентификации 
    при входе в систему или отключении 2FA и повторном входе в систему.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            
            <div class="form-group">
                <label asp-for="Input.RecoveryCode">Код восстановления</label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
