@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Main.css" />



<div class="container d-flex align-items-center justify-content-between">

    <a href="" class="logo"><img src="~/img/Снимок экрана 2023-05-24 234045.png" alt="" style="width: 200px;"></a>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Главная</a></li>
            <li><a class="nav-link scrollto" href="#about">О нас</a></li>
            <li><a class="nav-link scrollto" href="#services">Возможности</a></li>
            <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>

    </nav><!-- .navbar -->

</div>
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Teacher`s Hub</h1>
                <h2>Автоматизация рабочего места учителя для начальной школы. С нами учиться легко! </h2>
                <div class="d-flex">
                    <a href="../Identity/Account/Register" class="btn-get-started scrollto">Начать</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="img/seo_1920x1080_03-1536x864-1.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-laptop"></i></div>
                        <h4 class="title"><a class="disabled-link" href="">Домашние задания</a></h4>
                        <p class="description">
                            Учитель может создавать домашние задания ученикам. Ученики могут просматривать назначенные
                            задания.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-card-checklist"></i></div>
                        <h4 class="title"><a class="disabled-link" href="">Личный журнал ученика</a></h4>
                        <p class="description">
                            Журналы разделены по четвертям, чтобы учителю было удобно следить за успеваемостью на протяжении учебного года.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                        <h4 class="title"><a class="disabled-link" href="">Подсчет среднего балла</a></h4>
                        <p class="description">
                            Система будет автоматически подсчитывать средний балл каждого ученика по предметам на основе внесенных оценок.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="img/hero.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Проект нацелен на создание удобного и эффективного рабочего окружения</h3>
                    <p class="fst-italic">
                        Проект помочь педагогам сэкономить время и повысить их производительность, предоставляя инструменты для
                        автоматизации рутинных задач и облегчения организации учебного процесса.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Электронная журнальная система</li>
                        <li><i class="bi bi-check-circle"></i> Управление заданиями</li>
                        <li><i class="bi bi-check-circle"></i> Аналитика</li>
                    </ul>
                    <p>
                        Проект представляет инновационное решение для оптимизации работы учителей и улучшения качества
                        учебного процесса.
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <span>Возможности</span>
                <h2>Возможности</h2>
                <p>Все возможности, которые предоставляет проект</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-data"></i></div>
                        <h4><a class="disabled-link" href="">Защита ваших данных</a></h4>
                        <p>Возможность подключить двухфакторную систему авторизации</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-devices"></i></div>
                        <h4><a class="disabled-link" href="">Кросс-платформенность</a></h4>
                        <p>Пользуйтесь приложением с любого устройства и в любом месте</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a class="disabled-link" href="">Скорость</a></h4>
                        <p>Высокопроизводительная платформа разработки , позволяет высокую скорость обработки данных</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bxs-chevrons-up'></i></div>
                        <h4><a class="disabled-link" href="">Кэширование</a></h4>
                        <p>Кеширование , помогает значительно ускорить обработку данных</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-support'></i></div>
                        <h4><a class="disabled-link" href="">Поддержка</a></h4>
                        <p>Постоянная поддержка на использование приложения</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-code-alt'></i></div>
                        <h4><a class="disabled-link" href="">Постоянные обновления</a></h4>
                        <p>Проект не стоит на месте , постоянные доработки и новые возможности</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Обратная Связь</span>
                <h2>Обратная Связь</h2>
                <p>Напишите нам, если столкнулись с проблемами</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Место нахождения:</h4>
                            <p>Россия Саратов</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>ilyaplekhanoff@yandex.ru</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Телефон:</h4>
                            <p>+7 900 332 33 45</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.7248646296225!2d46.0058803!3d51.518263499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7a04184f91f%3A0xc477b99eef27c2e8!2z0KHQsNGA0LDRgtC-0LI!5e0!3m2!1sru!2sru!4v1684788856429!5m2!1sru!2sru" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-lg-0 d-flex align-items-stretch">
                    <form id="feedbackForm" method="post" role="form" action="/Home/SendFeedback" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Ваше имя</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                                <label for="email">Ваш Email</label>
                                <input type="email" name="email" class="form-control" id="email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="subjects">Тема</label>
                            <input type="text" name="subject" class="form-control" id="subjects" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="message">Сообщение</label>
                            <textarea id="message" name="message" class="form-control" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Загрузка</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Ваше сообщение отправлено. Спасибо за обращение!</div>
                        </div>
                        <div class="text-center"><button type="submit">Отправить</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>


<script>
    // Attach a submit event handler to the form
    document.getElementById("feedbackForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Get the form data
        var formData = new FormData(this);

        // Send an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open("POST", this.action, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Display the success notification
                showNotification("Ваше сообщение отправлено. Спасибо за обращение!");

                // Clear the form inputs
                document.getElementById("name").value = "";
                document.getElementById("email").value = "";
                document.getElementById("subjects").value = "";
                document.getElementById("message").value = "";
            } else {
                // Display an error notification
                showNotification("Произошла ошибка. Пожалуйста, повторите попытку позже.");
            }
        };
        xhr.onerror = function () {
            // Display an error notification
            showNotification("Произошла ошибка. Пожалуйста, повторите попытку позже.");
        };
        xhr.send(formData);
    });

    // Function to display a notification
    function showNotification(message) {
        var notification = document.createElement("div");
        notification.className = "notification";
        notification.innerHTML = message;
        document.body.appendChild(notification);

        // Automatically remove the notification after a few seconds
        setTimeout(function () {
            document.body.removeChild(notification);
        }, 5000);
    }
</script>


<footer id="footer">

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; 2023 <strong><span>Teacher`s Hub</span></strong>.
        </div>
        <div class="credits">
            Сделано на <a href="https://learn.microsoft.com/ru-ru/aspnet/overview">ASP .Net Core</a>
        </div>
    </div>
</footer><!-- End Footer -->