@{
    ViewData["Title"] = "Подтверждение Email";
}
<div style=" padding-bottom:100px;padding-top:100px">
    <div class=" bootstrap snippets bootdeys">
        <div class="justify-content:center; col-md col-md-offset-3">
            <div class="text-center logo-alt-box">
                <p class="logo" style="float: none ; font-weight: 500; font-size: 24px;letter-spacing: .06em;line-height: 46px;">
                    <span>SCHOOL ADVANCEMENT</span>
                </p>
                <h5 class="text-muted m-t-0" style="font-size: 12px;">
                    Просматривайте свою успеваемость в школе
                </h5>
            </div>
            <div class="m-t-30 card-box" style="margin-bottom: 20px;background-clip: padding-box;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;padding: 20px;background-color: #ffffff;box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.1);">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Успешено!</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="text-muted font-13 m-t-20" style="color: #9a9da0">
                        Электронное письмо было отправлено на ваш Email. Пожалуйста, проверьте, не пришло ли электронное письмо от компании, и нажмите на прилагаемую ссылку, чтобы подтвердить свой Email.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>