@model EditUserViewModel

<div class="col">
    <div>
        <a asp-action="Index">Назад к списку</a>
    </div>
    <div class="card shadow">
        <div class="card-body">

            <form asp-action="Edit" id="noteForm">
                <input type="hidden" asp-for="ApplicationUser.Id" />


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="inputEmail">Email</label>
                        <input type="email" class="form-control" asp-for="ApplicationUser.Email" id="inputEmail">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="ClassId">Класс</label>
                        <select asp-for="ClassId" asp-items="@Model.ClassList" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name" class="control-label">Имя</label>
                        <input type="text" class="form-control" asp-for="ApplicationUser.Name" id="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="surname">Фамилия</label>
                        <input type="text" class="form-control" asp-for="ApplicationUser.Surname" id="surname">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="Patronymic">Отчество</label>
                        <input type="text" class="form-control" asp-for="ApplicationUser.Patronymic" id="Patronymic">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="Date_birth">Дата рождения</label>
                        <input type="date" class="form-control" asp-for="ApplicationUser.Date_birth" id="Date_birth">
                    </div>
                </div>

                <button type="submit" style="background: #5e72e4;" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {
        $("#noteForm").submit(function (event) {
            var email = $("#inputEmail").val();
            var name = $("#name").val();
            var surname = $("#surname").val();
            var patronymic = $("#Patronymic").val();
            var dateOfBirth = $("#Date_birth").val();

            if (!email.trim() || !name.trim() || !surname.trim() || !patronymic.trim() || !dateOfBirth.trim()) {
                event.preventDefault();
                if (!email.trim()) {
                    $("#inputEmail").addClass("is-invalid");
                    $("#inputEmail").after('<div class="invalid-feedback">Введите корректный email.</div>');
                }
                if (!name.trim()) {
                    $("#name").addClass("is-invalid");
                    $("#name").after('<div class="invalid-feedback">Введите имя.</div>');
                }
                if (!surname.trim()) {
                    $("#surname").addClass("is-invalid");
                    $("#surname").after('<div class="invalid-feedback">Введите фамилию.</div>');
                }
                if (!patronymic.trim()) {
                    $("#Patronymic").addClass("is-invalid");
                    $("#Patronymic").after('<div class="invalid-feedback">Введите отчество.</div>');
                }
                if (!dateOfBirth.trim()) {
                    $("#Date_birth").addClass("is-invalid");
                    $("#Date_birth").after('<div class="invalid-feedback">Введите дату рождения.</div>');
                }

                setTimeout(function () {
                    $("#inputEmail").removeClass("is-invalid");
                    $("#name").removeClass("is-invalid");
                    $("#surname").removeClass("is-invalid");
                    $("#Patronymic").removeClass("is-invalid");
                    $("#Date_birth").removeClass("is-invalid");
                    $(".invalid-feedback").remove();
                }, 3000);
            }
        });
    });
</script>
}
