@model ApplicationUser

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления ученика</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-left">Вы действительно хотите удалить ученика @Model.UserName?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">
                        Удалить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-sm btn-icon-only text-light" data-toggle="modal" data-target="#deleteModal">
    <i class="bi bi-trash3"></i>
</button>