    @page
    @model ChangePasswordModel
    @{
        ViewData["Title"] = "Change password";
        ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    }

    <partial name="_StatusMessage" for="StatusMessage" />
    <h4 class="mb-2">Изменение пароля</h4>
    <div class="row">
        <div class="col-md">
            <form id="change-password-form" method="post">
            
                <div class="form-group">
                    <label asp-for="Input.OldPassword">Текущий пароль</label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword">Новый пароль</label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Повторите пароль</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <button style="background: #5e72e4;" type="submit" class="btn btn-primary">Сменить пароль</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script>
            $(document).ready(function () {
                $("#change-password-form").submit(function (event) {
                    var oldPassword = $("#Input_OldPassword").val();
                    var newPassword = $("#Input_NewPassword").val();
                    var confirmPassword = $("#Input_ConfirmPassword").val();

                    if (!oldPassword.trim() || !newPassword.trim() || !confirmPassword.trim()) {
                        event.preventDefault();
                        if (!oldPassword.trim()) {
                            $("#Input_OldPassword").addClass("is-invalid");
                            $("#Input_OldPassword").after('<div class="invalid-feedback">Введите текущий пароль.</div>');
                        }
                        if (!newPassword.trim()) {
                            $("#Input_NewPassword").addClass("is-invalid");
                            $("#Input_NewPassword").after('<div class="invalid-feedback">Введите новый пароль.</div>');
                        }
                        if (!confirmPassword.trim()) {
                            $("#Input_ConfirmPassword").addClass("is-invalid");
                            $("#Input_ConfirmPassword").after('<div class="invalid-feedback">Повторите пароль.</div>');
                        }

                        setTimeout(function () {
                            $(".form-control").removeClass("is-invalid");
                            $(".invalid-feedback").remove();
                        }, 3000);
                    }
                });
            });
        </script>

    }