@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Удаление аккаунта</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Удаление этих данных приведет к необратимому удалению вашей учетной записи, и восстановить ее будет невозможно.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Удалите данные и закройте мою учетную запись</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}