@model WebAppMain.Models.Note

<a asp-action="Index">Вернуться назад</a>

    <div class="card shadow">
        <div class="card-body">

            <dl class="row">
                <dt class=" pl-3">
                    Название:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class=" pl-3">
                    Описание:
                </dt>
                <dd class="col-sm-10" style="word-wrap: break-word;">
                    @Html.DisplayFor(model => model.Text)
                </dd>

                
            </dl>
        <div class="row">
            <div class="col-md-6">
                <a asp-action="Edit" asp-route-id="@Model.Id">Перейти на страницу редактирования</a>
            </div>
            <div class="col-md-6 text-right">
                @Html.DisplayFor(model => model.CreatedAt)
            </div>
        </div>

    </div>
</div>



