@model WebAppMain.Models.Predmet

<a asp-action="Index">Вернуться назад</a>

    <div class="card shadow">
        <div class="card-body">
            <h3>Вы действительно хотите удалить данный предмет ?</h3>
            <div>
                <dl class="row">
                    <dt class="pl-3">
                        Название предмета:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Title_Predmet)
                    </dd>
                    <dt class="pl-3">
                        Описание предмета:
                    </dt>
                    <dd class="col-sm-9" style="word-wrap: break-word;">
                        @Html.DisplayFor(model => model.Description_Predmet)
                    </dd>
                    <dt class="pl-3">
                        Период изучения:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Study_period)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post" id="deleteForm">
                    <input type="hidden" asp-for="Id_Predmet" />
                    <div class="form-group">
                        <input style="background: #5e72e4;" type="submit" value="Удалить" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>

